--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio

numpy<2
scipy<1.14
scikit-learn==1.3.*
tqdm
pillow
matplotlib
opencv-python
faiss-cpu

git+https://github.com/facebookresearch/segment-anything.git
